# Task 2: Exploratory Data Analysis (EDA) with Spark

## **Import Libraries**

In [ ]:
# Initialize a Spark session
spark = SparkSession.builder.appName("EDA with PySpark").getOrCreate()

## **Data Loading and Basic Inspection:**

In [ ]:
# Load the bank.csv dataset into a Spark DataFrame.

bank_df = spark.read.csv("bank.csv", header=True, inferSchema=True)

## **Data Exploration:**

Data exploration involves understanding the structure and content of the data. PySpark provides methods like show(), head(), and describe() for this purpose:

In [ ]:
# Display the first few rows of the DataFrame
bank_df.show(5)

+---+-----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
|age|        job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+-----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
| 30| unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|
| 33|   services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|
| 35| management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|
| 30| management|married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown| no|
| 59|blue-collar|married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown| no|
+---+-----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 5 rows

In [ ]:
# Display specific number of rows
bank_df.head(10)

[Row(age=30, job='unemployed', marital='married', education='primary', default='no', balance=1787, housing='no', loan='no', contact='cellular', day=19, month='oct', duration=79, campaign=1, pdays=-1, previous=0, poutcome='unknown', y='no'),
 Row(age=33, job='services', marital='married', education='secondary', default='no', balance=4789, housing='yes', loan='yes', contact='cellular', day=11, month='may', duration=220, campaign=1, pdays=339, previous=4, poutcome='failure', y='no'),
 Row(age=35, job='management', marital='single', education='tertiary', default='no', balance=1350, housing='yes', loan='no', contact='cellular', day=16, month='apr', duration=185, campaign=1, pdays=330, previous=1, poutcome='failure', y='no'),
 Row(age=30, job='management', marital='married', education='tertiary', default='no', balance=1476, housing='yes', loan='yes', contact='unknown', day=3, month='jun', duration=199, campaign=4, pdays=-1, previous=0, poutcome='unknown', y='no'),
 Row(age=59, job='blue-collar', marital='married', education='secondary', default='no', balance=0, housing='yes', loan='no', contact='unknown', day=5, month='may', duration=226, campaign=1, pdays=-1, previous=0, poutcome='unknown', y='no'),
 Row(age=35, job='management', marital='single', education='tertiary', default='no', balance=747, housing='no', loan='no', contact='cellular', day=23, month='feb', duration=141, campaign=2, pdays=176, previous=3, poutcome='failure', y='no'),
 Row(age=36, job='self-employed', marital='married', education='tertiary', default='no', balance=307, housing='yes', loan='no', contact='cellular', day=14, month='may', duration=341, campaign=1, pdays=330, previous=2, poutcome='other', y='no'),
 Row(age=39, job='technician', marital='married', education='secondary', default='no', balance=147, housing='yes', loan='no', contact='cellular', day=6, month='may', duration=151, campaign=2, pdays=-1, previous=0, poutcome='unknown', y='no'),
 Row(age=41, job='entrepreneur', marital='married', education='tertiary', default='no', balance=221, housing='yes', loan='no', contact='unknown', day=14, month='may', duration=57, campaign=2, pdays=-1, previous=0, poutcome='unknown', y='no'),
 Row(age=43, job='services', marital='married', education='primary', default='no', balance=-88, housing='yes', loan='yes', contact='cellular', day=17, month='apr', duration=313, campaign=1, pdays=147, previous=2, poutcome='failure', y='no')]

In [ ]:
# Print the schema
bank_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [ ]:
# Display a summary of numerical columns
bank_df.describe().show()

+-------+------------------+-------+--------+---------+-------+------------------+-------+----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+----+
|summary|               age|    job| marital|education|default|           balance|housing|loan| contact|               day|month|          duration|          campaign|             pdays|          previous|poutcome|   y|
+-------+------------------+-------+--------+---------+-------+------------------+-------+----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+----+
|  count|              4521|   4521|    4521|     4521|   4521|              4521|   4521|4521|    4521|              4521| 4521|              4521|              4521|              4521|              4521|    4521|4521|
|   mean| 41.17009511170095|   NULL|    NULL|     NULL|   NULL|1422.6578190665782|   NULL|NULL|    NULL|15.915284229152842| NULL|263.96129174961294| 2.793629727936297|39.766644547666445|0.5425790754257908|    NULL|NULL|
| stddev|10.576210958711263|   NULL|    NULL|     NULL|   NULL|3009.6381424673395|   NULL|NULL|    NULL| 8.247667327229934| NULL|259.85663262468216|3.1098066601885823|100.12112444301656|1.6935623506071211|    NULL|NULL|
|    min|                19| admin.|divorced|  primary|     no|             -3313|     no|  no|cellular|                 1|  apr|                 4|                 1|                -1|                 0| failure|  no|
|    max|                87|unknown|  single|  unknown|    yes|             71188|    yes| yes| unknown|                31|  sep|              3025|                50|               871|                25| unknown| yes|
+-------+------------------+-------+--------+---------+-------+------------------+-------+----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+----+

## **Data Filtering and Column Operations:**
Filter the dataset to include only clients with a balance greater than a certain threshold (e.g., 1000).

In [ ]:
from pyspark.sql.functions import col, quarter
# Filter the dataset to include only clients with a balance greater than 1000
filtered_df = bank_df.filter(col("balance") > 1000)

In [ ]:
filtered_df .show()

+---+-----------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+---+
|age|        job| marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+-----------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+---+
| 30| unemployed| married|  primary|     no|   1787|     no|  no| cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|
| 33|   services| married|secondary|     no|   4789|    yes| yes| cellular| 11|  may|     220|       1|  339|       4| failure| no|
| 35| management|  single| tertiary|     no|   1350|    yes|  no| cellular| 16|  apr|     185|       1|  330|       1| failure| no|
| 30| management| married| tertiary|     no|   1476|    yes| yes|  unknown|  3|  jun|     199|       4|   -1|       0| unknown| no|
| 39|   services| married|secondary|     no|   9374|    yes|  no|  unknown| 20|  may|     273|       1|   -1|       0| unknown| no|
| 36| technician| married| tertiary|     no|   1109|     no|  no| cellular| 13|  aug|     328|       2|   -1|       0| unknown| no|
| 56| technician| married|secondary|     no|   4073|     no|  no| cellular| 27|  aug|     239|       5|   -1|       0| unknown| no|
| 37|     admin.|  single| tertiary|     no|   2317|    yes|  no| cellular| 20|  apr|     114|       1|  152|       2| failure| no|
| 41| management| married| tertiary|     no|   5883|     no|  no| cellular| 20|  nov|     182|       2|   -1|       0| unknown| no|
| 68|    retired|divorced|secondary|     no|   4189|     no|  no|telephone| 14|  jul|     897|       2|   -1|       0| unknown|yes|
| 32| management|  single| tertiary|     no|   2536|    yes|  no| cellular| 26|  aug|     958|       6|   -1|       0| unknown|yes|
| 49| technician| married| tertiary|     no|   1235|     no|  no| cellular| 13|  aug|     354|       3|   -1|       0| unknown|yes|
| 42|     admin.|divorced|secondary|     no|   1811|    yes|  no|  unknown| 14|  may|     150|       1|   -1|       0| unknown| no|
| 32|blue-collar| married|secondary|     no|   2089|    yes|  no| cellular| 14|  nov|     132|       1|   -1|       0| unknown|yes|
| 33| management| married|secondary|     no|   3935|    yes|  no| cellular|  6|  may|     765|       1|  342|       2| failure|yes|
| 38| management|  single| tertiary|     no|  11971|    yes|  no|  unknown| 17|  nov|     609|       2|  101|       3| failure| no|
| 52|blue-collar| married|secondary|     no|   1117|    yes|  no| cellular| 13|  may|     365|       1|   -1|       0| unknown| no|
| 32| technician|  single| tertiary|     no|   2204|    yes|  no| cellular| 21|  nov|      11|       4|   -1|       0| unknown| no|
| 61|     admin.| married|  unknown|     no|   4629|    yes|  no| cellular| 27|  jan|     181|       1|   92|       1| success|yes|
| 34| technician| married| tertiary|     no|   1539|    yes|  no| cellular| 15|  jun|     441|       1|   56|       1|   other|yes|
+---+-----------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

## **Column Operations**

Extract the month from the 'month' column and create a new column for the quarter of the year.

In [ ]:
# Define a mapping from month names to quarter numbers
month_to_quarter = {
    "jan": 1, "feb": 1, "mar": 1,
    "apr": 2, "may": 2, "jun": 2,
    "jul": 3, "aug": 3, "sep": 3,
    "oct": 4, "nov": 4, "dec": 4}

In [ ]:
# Create a new column for the quarter of the year
from pyspark.sql.functions import col, when
bank_data = filtered_df.withColumn("quarter",
    when(col("month").isin("jan", "feb", "mar"), 1)
    .when(col("month").isin("apr", "may", "jun"), 2)
    .when(col("month").isin("jul", "aug", "sep"), 3)
    .when(col("month").isin("oct", "nov", "dec"), 4))

bank_data.show()

+---+-----------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+---+-------+
|age|        job| marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|  y|quarter|
+---+-----------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+---+-------+
| 30| unemployed| married|  primary|     no|   1787|     no|  no| cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|      4|
| 33|   services| married|secondary|     no|   4789|    yes| yes| cellular| 11|  may|     220|       1|  339|       4| failure| no|      2|
| 35| management|  single| tertiary|     no|   1350|    yes|  no| cellular| 16|  apr|     185|       1|  330|       1| failure| no|      2|
| 30| management| married| tertiary|     no|   1476|    yes| yes|  unknown|  3|  jun|     199|       4|   -1|       0| unknown| no|      2|
| 39|   services| married|secondary|     no|   9374|    yes|  no|  unknown| 20|  may|     273|       1|   -1|       0| unknown| no|      2|
| 36| technician| married| tertiary|     no|   1109|     no|  no| cellular| 13|  aug|     328|       2|   -1|       0| unknown| no|      3|
| 56| technician| married|secondary|     no|   4073|     no|  no| cellular| 27|  aug|     239|       5|   -1|       0| unknown| no|      3|
| 37|     admin.|  single| tertiary|     no|   2317|    yes|  no| cellular| 20|  apr|     114|       1|  152|       2| failure| no|      2|
| 41| management| married| tertiary|     no|   5883|     no|  no| cellular| 20|  nov|     182|       2|   -1|       0| unknown| no|      4|
| 68|    retired|divorced|secondary|     no|   4189|     no|  no|telephone| 14|  jul|     897|       2|   -1|       0| unknown|yes|      3|
| 32| management|  single| tertiary|     no|   2536|    yes|  no| cellular| 26|  aug|     958|       6|   -1|       0| unknown|yes|      3|
| 49| technician| married| tertiary|     no|   1235|     no|  no| cellular| 13|  aug|     354|       3|   -1|       0| unknown|yes|      3|
| 42|     admin.|divorced|secondary|     no|   1811|    yes|  no|  unknown| 14|  may|     150|       1|   -1|       0| unknown| no|      2|
| 32|blue-collar| married|secondary|     no|   2089|    yes|  no| cellular| 14|  nov|     132|       1|   -1|       0| unknown|yes|      4|
| 33| management| married|secondary|     no|   3935|    yes|  no| cellular|  6|  may|     765|       1|  342|       2| failure|yes|      2|
| 38| management|  single| tertiary|     no|  11971|    yes|  no|  unknown| 17|  nov|     609|       2|  101|       3| failure| no|      4|
| 52|blue-collar| married|secondary|     no|   1117|    yes|  no| cellular| 13|  may|     365|       1|   -1|       0| unknown| no|      2|
| 32| technician|  single| tertiary|     no|   2204|    yes|  no| cellular| 21|  nov|      11|       4|   -1|       0| unknown| no|      4|
| 61|     admin.| married|  unknown|     no|   4629|    yes|  no| cellular| 27|  jan|     181|       1|   92|       1| success|yes|      1|
| 34| technician| married| tertiary|     no|   1539|    yes|  no| cellular| 15|  jun|     441|       1|   56|       1|   other|yes|      2|
+---+-----------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+---+-------+
only showing top 20 rows